body {
  background-color: #4BA2E6;
  color: #FFFFFF;
  /*font-family: 'Lato', sans-serif;*/
}

body a:link, body a:visited, body a:hover, body a:active { color:#FFFFFF; }

body p{
  font-size: 1.2em;
  margin-bottom: 30px;
}

/* Navbar
---------------------------------------- */

.navbar { border-radius: 0}
.navbar-default {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #285E8E;
}
.navbar-default .navbar-brand {
  color: #FEE82A;
  padding: 13px 15px;
}
.navbar-default .navbar-brand:hover { color: #FEE82A; }
.navbar-default .navbar-brand img {
  height: 20px;
  vertical-align: text-top;
}
.navbar-default .navbar-nav > li > a { color: #fff; }



/* Data Nav
---------------------------------------- */

.data-nav {
  padding: 40px 0;
  text-align: center;
}
.data-nav > li {
  float: none;
  display: inline-block;
}
.data-nav > li > a {
  border-radius: 40px;
  padding: 10px 30px;
}



.main-header h1{
  /*font-family: 'Roboto', sans-serif;*/
  color: #FEE82A;
  font-weight: 900;
}

#coin {
  height: 25px;
  margin: 10px 5px 0px 0px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

input[type="text"], input[type="number"], textarea {
  background-color: #AAC4F0;
  color: #FFFFFF;
  /*font-family: 'Lato', sans-serif;*/
}

.input-element {
  margin-right: 15px;
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
  color: #FFFFFF;
  /*font-family: 'Lato', sans-serif;*/
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #FFFFFF;
  /*font-family: 'Lato', sans-serif;*/
  opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #FFFFFF;
  /*font-family: 'Lato', sans-serif;*/
  opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #FFFFFF;
  /*font-family: 'Lato', sans-serif;*/
}

.btn-delete {
  color: #fff;
  background-color: #D0607A;
  border-color: #AB4F64;
}

.section-div {
  margin-top: 25px;
  margin-bottom: 25px;
}

.input-form {
  margin: 40px 0px 40px 17px;

}


/* Modals
---------------------------------------- */

.table { background-color: #fff; }
.table-bordered { border: 1px solid #285E8E; }



/* Modals
---------------------------------------- */

.modal-dialog { margin-top: 200px; }
.modal-content { 
  background-color: #fff;
  color: #333;
}
.modal-body p:last-child { margin-bottom: 0; }
