<div class="title-input">

    <h3 ng-show="founders.length">Convertible Notes</h3>
    <p ng-show="founders.length">Add all outstanding convertible notes. Don't use short form for the cap, for instance, if you have a $4 million cap, put 4000000. Once you create the convertible note, you can add investors and the amount they invested.</p>
  
  <form name="convertibleNoteForm" class="input-form" ng-show="founders.length" ng-submit="convertibleNoteForm.$valid && addConvertibleNote()" nonvalidate>
    <div class="row">
      <div>
        <div class="vcenter input-element"><input type="number" ng-model="newConvertibleNote.cap" placeholder="Cap" class="form-control" required></div>
        <div class="vcenter input-element"><input type="number" ng-model="newConvertibleNote.discount" placeholder="Discount %" class="form-control" required></div>
        <div class="vcenter">
          <span>
            <input type="submit" class="btn btn-primary" value="Add">
          </span>
        </div>
      </div>
    </div>
  </form>
</div>  
<table class="table table-bordered" ng-show="convertibleNotes.length">
  <thead>
    <td>Cap</td>
    <td>Discount</td>
    <td>Investors</td>
    <td></td>
  </thead>
  <tr ng-repeat="cn in convertibleNotes">
    <td><input type="number" ng-model="cn.cap" class="form-control" step="100000"></td>
    <td><input type="number" ng-model="cn.discount" class="form-control" max="100" min="0"></td>
    <td>
        <span ng-show="showInvestorList != $index">
            <ul>
              <li ng-repeat="investor in cn.investors">
                <div><input type="text" ng-model="investor.name"> <input type="number" ng-model="investor.amount" min="0" step="1000"> <a href="#" ng-click="removeInvestorFromConvertibleNote($parent.$index, $index)">x</a></div>
              </li>
              <li><a href="#" ng-click="toggleShowInvestorList($index)">Add Investor</a></li>
            </ul>
        </span>
        <span ng-show="showInvestorList == $index">
          <form name="addInvestorToConvertibleNoteForm" ng-submit="addInvestorToConvertibleNoteForm.$valid && addInvestorToConvertibleNote($index)">
            <input type="text" ng-model="$parent.investorToAddToConvertibleNote.name" placeholder="Name" class="form-control" required>
            <input type="number" ng-model="$parent.investorToAddToConvertibleNote.amount" placeholder="Amount" class="form-control" min="0" required>
            <input type="submit" class="btn btn-primary" value="Add">
          </form>
        </span>
    </td>
    <td><button type="button" class="btn btn-delete" ng-click="removeConvertibleNote($index)">X</button></td>
  </tr>
  <tr>
    <td><strong>{{totalSeedInvestmentRaised() | currency:"$":0}} Raised From Convertible Notes</strong></td>
    <td><strong></strong></td>
    <td></td>
    <td></td>
  </tr>
</table>
