<h4 class="form-section-header">Equity Rounds
  <small><a href="#" data-toggle="modal" data-target="#equityModal"><span class="glyphicon glyphicon-new-window"></span></a></small>
</h4>
 
<form class="form-inline" name="equityRoundForm" ng-submit="equityRoundForm.$valid && addEquityRound()" nonvalidate>
  <input class="form-control form-control-single" type="number" ng-model="newEquityRound.preMoneyValuation" placeholder="Pre-Money Valuation" required>
  <input class="btn btn-primary" type="submit" value="Add">
</form>

<div class="table" ng-show="equityRounds.length" ng-repeat="equityRound in equityRounds">
  <div class="table-header">
    <div class="table-cell">
      {{equityRound.preMoneyValuation | currency:"$":0}} Pre-Money Valuation
    </div><!-- .table-cell -->
    <button type="button" class="table-row-delete" ng-click="removeEquityRound($index)"><span aria-hidden="true">×</span></button>
  </div><!-- .table-header -->

  <div class="table-row">
    <div class="table-cell table-cell-control">
      <form class="form-inline" name="addInvestorToEquityRoundForm" ng-submit="addInvestorToEquityRoundForm.$valid && addInvestorToEquityRound($index)">
        <select class="form-control form-control-large" ng-model="$parent.investorToAddToEquityRound.name" required>
          <option value="" disabled selected>Investor</option>
          <option value="{{investor.name}}" ng-repeat="investor in investors">{{ investor.name }}</option>
        </select>

        <input class="form-control form-control-small" type="number" ng-model="$parent.investorToAddToEquityRound.amount" placeholder="Amount" min="0" required>
        <input type="submit" class="btn btn-primary" value="Add">
      </form>
    </div><!-- .table-cell -->
  </div><!-- .table-row -->

  <div class="table-row" ng-show="showInvestorList != $index" ng-repeat="investor in equityRound.investors">
    <div class="table-cell table-cell-large">
      {{investor.name}}
    </div><!-- .table-cell -->
    <div class="table-cell table-cell-small">
      {{investor.amount | currency:"$":0}}
    </div><!-- .table-cell -->
    <button type="button" class="table-row-delete" ng-click="removeInvestorFromEquityRound($parent.$index, $index)"><span aria-hidden="true">×</span></button>
  </div><!-- .table-row -->

  <div class="table-footer">
    <div class="table-cell">
      {{totalRaised() | currency:"$":0}} Post-Money Valuation
    </div><!-- .table-cell -->
  </div><!-- .table-footer -->
</div><!-- .table -->
