<h4 ng-show="founders.length">Equity Rounds</h4>

<form name="equityRoundForm" ng-show="founders.length" ng-submit="equityRoundForm.$valid && addEquityRound()" nonvalidate>
  <div class="row">
    <div class="input-group">
      <input type="number" ng-model="newEquityRound.preMoneyValuation" placeholder="Pre-Money Valuation (in millions. eg - 4000000" class="form-control" required>
      <span class="input-group-btn">
        <input type="submit" class="btn btn-primary" value="Add">
      </span>
    </div>
  </div>
</form>
<p></p>

<table class="table table-striped" ng-show="equityRounds.length">
  <thead>
    <td>Pre-Money Valuation</td>
    <td>Investors</td>
    <td></td>
  </thead>
  <tr ng-repeat="equityRound in equityRounds">
    <td><input type="number" ng-model="equityRound.preMoneyValuation" class="form-control"></td>
    <td>
        <span ng-show="showInvestorList != $index">
            <ul>
              <li ng-repeat="investor in equityRound.investors">{{investor.name}} - ${{investor.amount}} <a href="#" ng-click="removeInvestorFromEquityRound($parent.$index, $index)">x</a></li>
              <li><a href="#" ng-click="toggleShowInvestorList($index)">Add Investor</a></li>
            </ul>
        </span>
        <span ng-show="showInvestorList == $index">
          <form name="addInvestorToEquityRoundForm" ng-submit="addInvestorToEquityRoundForm.$valid && addInvestorToEquityRound($index)">
            <input type="text" ng-model="$parent.investorToAddToEquityRound.name" placeholder="Name" class="form-control" required>
            <input type="number" ng-model="$parent.investorToAddToEquityRound.amount" placeholder="Amount" class="form-control" min="0" required>
            <input type="submit" class="btn btn-primary" value="Add">
          </form>
        </span>
    </td>
    <td><button type="button" class="btn btn-danger" ng-click="removeConvertibleNote($index)">X</button></td>
  </tr>
  <tr>
    <td><strong>{{totalRaised() | currency:"$":0}} Raised Total</strong></td>
    <td><strong></strong></td>
    <td></td>
    <td></td>
  </tr>
</table>
