<h4 class="form-section-header">Founders / Common Stock Holders
  <small><a href="#" data-toggle="modal" data-target="#foundersModal"><span class="glyphicon glyphicon-new-window"></span></a></small>
</h4>

<form class="form-inline" name="founderForm" ng-show="totalFounderEquity() != 100" ng-submit="founderForm.$valid && addFounder()" nonvalidate>
  <input class="form-control form-control-large" type="text" ng-model="newFounder.name" placeholder="Founder Name" required>
  <input class="form-control form-control-small" type="number" ng-model="newFounder.equity" placeholder="Equity %"  max="{{100 - totalFounderEquity()}}" min="0" step="any" required>
  <input class="btn btn-primary" type="submit" value="Add">
</form>

<div class="table table-bordered" ng-show="founders.length">
  <div class="table-row" ng-repeat="founder in founders">
    <div class="table-cell table-cell-large">{{founder.name}}</div>
    <div class="table-cell table-cell-small">{{founder.equity + (100 - totalFounderEquity())}}
    </div>
    <button type="button" class="table-row-delete" ng-click="removeFounder($index)"><span aria-hidden="true">×</span></button>
  </div><!-- .table-row -->
  <div class="table-footer">
    <div class="table-cell table-cell-large">
      TOTAL
    </div><!-- .table-cell-large -->
    <div class="table-cell table-cell-small">
      {{ totalFounderEquity() }}%
    </div><!-- .table-cell-small -->
  </div><!-- .table-footer -->
</div><!-- .table table-border -->
