<h4>Founders / Common Stock Holders</h4>

<form name="founderForm" ng-show="totalFounderEquity() != 100" ng-submit="founderForm.$valid && addFounder()" nonvalidate>
  <div class="row">
    <div class="input-group">
      <input type="text" ng-model="newFounder.name" placeholder="Founder Name" class="form-control" required>
      <input type="number" ng-model="newFounder.equity" placeholder="Equity %" class="form-control" max="{{100 - totalFounderEquity()}}" min="0" step="any" required>
      <span class="input-group-btn">
        <input type="submit" class="btn btn-primary" value="Add">
      </span>
    </div>
  </div>
</form>
<p></p>

<table class="table table-striped" ng-show="founders.length">
  <thead>
    <td>Name</td>
    <td>Equity (%)</td>
    <td></td>
  </thead>
  <tr ng-repeat="founder in founders">
    <td><input type="text" ng-model="founder.name" class="form-control"></td>
    <td><input type="number" ng-model="founder.equity" class="form-control" max="{{founder.equity + (100 - totalFounderEquity())}}" min="0"></td>
    <td><button type="button" class="btn btn-danger" ng-click="removeFounder($index)">X</button></td>
  </tr>
  <tr>
    <td><strong>Total</strong></td>
    <td><strong>{{ totalFounderEquity() }}%</strong></td>
    <td></td>
  </tr>
</table>
