<h4 class="form-section-header">Investor List
  <small><a href="#" data-toggle="modal" data-target="#personsModal"><span class="glyphicon glyphicon-new-window"></span></a></small>
</h4>

<form class="form-inline" ng-submit="noDuplicateInvestors() && addInvestor()">
  <input class="form-control form-control-single" type="text" ng-model="newInvestor.name" placeholder="Investor Name" required>
  <input class="btn btn-primary" type="submit" value="Add">
</form>

<div class="table table-bordered" ng-show="investors.length">
  <div class="table-row"  ng-repeat="investor in investors">
    <div class="table-cell table-cell-single">{{ investor.name }}</div><!-- .table-cell -->
    <button type="button" class="table-row-delete" ng-click="removeInvestor($index)"><span aria-hidden="true">×</span></button>
  </div><!-- .table-row -->
</div><!-- .table table-border -->
